body {
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
}

.switch {
    &__label {
        border-radius: 50px;
        cursor: pointer;
        height: 20px;
        padding: 5px;
        transform: scale(1.5);
        width: 40px;
    }

    &__checkbox {
        opacity: 0;
        position: absolute;
    }

    &__ball {
        border-radius: 50%;
        height: 18px;
        left: 1px;
        top: 1px;
        transform: translateX(0px);
        transition: transform 0.2s linear;
        width: 18px;
    }

    .bi { font-size: 13px; }
    .bi-moon-fill { color: #f1c40f; }
    .bi-brightness-high-fill { color: #f39c12; }
}

.switch__checkbox:checked+.switch__label .switch__ball { transform: translateX(19px); }


@media screen and (max-width: 600px) {
    .card {
        max-width: 100%;
    }
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.quantidade {
    margin-top: 50px;
}

.titulo,
.quantidade,
.nomes,
.botao {
    display: flex;
    justify-content: center;
}

.center-container {
    display: flex;
    justify-content: center;
}

#nomes {
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 5px;
    overflow-y: auto;
    border-radius: 5px;
}

#sortear {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 13px;
}

#resultado {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

