body {
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 600px) {
    .card {
        max-width: 100%;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navtitle {
    font-size: 30px !important;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif !important;
}

.icon {
    font-size: 2rem;
    margin-right: 5px;
    cursor: pointer;
    transform: translate(-50%, - 50%);
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.quantidade {
    margin-top: 50px;
}

.titulo,
.quantidade,
.nomes,
.botao {
    display: flex;
    justify-content: center;
}

.center-container {
    display: flex;
    justify-content: center;
}

#nomes {
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 5px;
    overflow-y: auto;
    border-radius: 5px;
}

#sortear {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 13px;
}

#resultado {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
    margin-right: 10px;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.bi-moon-fill { color: #f1c40f; }
.bi-brightness-high-fill { color: #f39c12; }
