body {
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
}

.switch {
    &__label {
        border-radius: 50px;
        cursor: pointer;
        height: 20px;
        padding: 5px;
        transform: scale(1.5);
        width: 40px;
    }

    &__checkbox {
        opacity: 0;
        position: absolute;
    }

    &__ball {
        border-radius: 50%;
        height: 18px;
        left: 1px;
        top: 1px;
        transform: translateX(0px);
        transition: transform 0.2s linear;
        width: 18px;
    }

    .bi { font-size: 13px; }
    .bi-moon-fill { color: #f1c40f; }
    .bi-brightness-high-fill { color: #f39c12; }
}

.switch__checkbox:checked+.switch__label .switch__ball { transform: translateX(19px); }


.card {
    @media screen and (min-width: 576px) {
        width: 500px;
    }
}
