body {
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
}

.webpack-logo__img {
    max-width: 180px;

    @media only screen and (min-width: 980px) {
        max-width: 300px;
    }
}

.title__bootstrap-icon { color: $indigo; }
.title__html-image {
    img {
        max-width: 40px;

        @media only screen and (min-width: 980px) {
            max-width: 50px;
        }
    }
}
